.App {
  font-family: system-ui, sans-serif;
  font-weight: normal;
  max-width: 600px;
  margin: 0 auto;
}

input {
  margin-right: 10px;
}

button {
  margin-right: 10px;
}

.comment {
  border: 1px solid #888;
  box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.15);
  margin: 20px 0 10px;
  padding: 10px;
}
